.paginationBtns{
    margin-top: 20px;
    width:70% ;
    height: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.paginationBtns a{
    padding: 5px;
    margin: 4px;
    color: gold;
    cursor: pointer;
}
.paginationBtns a:hover{
    color: aquamarine;
    background-color: goldenrod;
}

.paginationActive a{
    color: aquamarine;
    background-color: goldenrod;
}